<form action="<%= form.action %>" method="post">
  <%= token_tag(nil) %>
  <label for="user_id">Owner ID:</label>
  <select id="user_id" name="owner[id]">
    <% form.all_owners.each do |owner| %>
      <option value="<%= owner[:value] %>"><%= owner[:name] %></user>
    <% end %>
  </select>
  <p><button type="submit" class="btn">Submit</button></p>
</form>
