<h1>All Makespace Equipment</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Make / Model</th>
      <th>Asset Code</th>
      <th>Status</th>
      <th><a href="http://makespace.org/wiki/index.php/Equipment/ToolClasses" target="_blank">Training Category</a></th>
      <th>Wiki Link</th>
    </tr>
  </thead>
  <tbody>
    <% @page.sections.each do |section| %>
      <% if section[:devices].size > 0 %>
        <tr>
          <td colspan="6"><em><%= section[:name] %></em></td>
        </tr>
        <% section[:devices].each do |device_row| %>
          <%= render :partial => 'device_row', :object => device_row %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<p><%= link_to "Add a device", new_device_path, class: 'btn btn-mini' %></p>

<h4>About this site</h4>
<p>The source code for this site lives at <a href="https://github.com/Makespace/equipment-db">https://github.com/Makespace/equipment-db</a>. Please report bugs and make feature requests using the GitHub ‘issues’ system.</p>
