<h1>All Equipment</h1>
<ul>
  <% @page.device_rows.each do |device_row| %>
    <%= render :partial => 'device_row', :object => device_row %>
  <% end %>
</ul>
<p><%= link_to 'Add device', new_device_path %></p>
