<ul class="breadcrumb">
  <li class="active">All devices</li>
</ul>
<h1>All the things</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tag</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @page.device_rows.each do |device_row| %>
      <%= render :partial => 'device_row', :object => device_row %>
    <% end %>
  </tbody>
</table>
<p><a href="<%= new_device_path %>" class="btn">Add a device</a></p>

<h2>About this site</h2>
<p>The source code for this site lives at <a href="https://github.com/Makespace/equipment-db">https://github.com/Makespace/equipment-db</a>. Please report bugs and make feature requests using the GitHub ‘issues’ system.</p>
