<form action="<%= form.action %>" method="post">
  <%= token_tag(nil) %>
  <label for="user_name">Name:</label>
  <input type="text" id="user_name" name="user[name]">
  <label for="user_emain">Email:</label>
  <input type="text" id="user_emain" name="user[emain]">
  <p><button type="submit" class="btn">Submit</button></p>
</form>
