<form action="<%= form.action %>" method="post">
  <%= token_tag(nil) %>
  <label for="user_id">User ID:</label>
  <select id="user_id" name="user[id]">
    <% form.all_users.each do |user| %>
      <option value="<%= user[:value] %>"><%= user[:name] %></user>
    <% end %>
  </select>
  <p><button type="submit" class="btn">Submit</button></p>
</form>
