<div class="hero-unit">
  <h1>Hello there!</h1>

  <br>

  <p>The <a href="http://makespace.org/">Makespace</a> equipment database lets
  you keep track of what equipment is in the space, whether it works and who is
  responsible for fixing it. Before you can start, however, you need to
  <%= link_to "sign in", new_session_path %> or
  <%= link_to "create an account", new_user_path %>.</p>

  <p class="pull-right">
  <%= link_to "Create account", new_user_path, class: 'btn btn-large' %>
  <%= link_to "Sign in »", new_session_path, class: 'btn btn-primary btn-large' %>
  </p>
</div>
