<footer>
  <div class="footer">
    <div class="footer-inner">
      <div class="container">
        <p class="footer-text"><a href="https://github.com/Makespace/equipment-db">Source code</a> - Uses icons by <a href="http://glyphicons.com/">Glyphicons</a></p>
      </div>
    </div>
  </div>
</footer>
