<footer>
  <div class="container">
    <div class="row">
      <div class="span6">
        <p class="navbar-text"><a href="https://raw.github.com/Makespace/equipment-db/master/README.rdoc">Copyright information</p>
      </div>
      <div class="span6">
        <p class="navbar-text pull-right"><a href="https://github.com/Makespace/equipment-db">Source code</p>
    </div>
    </div>
  </div>
</footer>
